<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>TALLER CUATRO</h1>
    <p>Infraestructura Ltd. es una plantilla</p>
    <p>PAGINA DE PRUEBA AZURE Infraestructura TI</p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Aprender más</a></li>
    </ul>
  </div>
</section>
